In [15]:
#Create data frame
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder.appName("pyspark_basic").getOrCreate()

In [22]:
df = spark.read.csv("C:/Users/IDEAL/Desktop/p1.csv")

In [23]:
df.show()

+-----------+------+
|        _c0|   _c1|
+-----------+------+
|Experiences|Salary|
|          1|  2000|
|        1.5|  2500|
|          2|  3000|
|        2.5|  3500|
|          3|  4000|
|        3.5|  4500|
|          4|  5000|
|        4.5|  5500|
|          5|  6000|
|        5.5|  6500|
|          6|  7000|
|        6.5|  7500|
|          7|  8000|
|        7.5|  8500|
|          8|  9000|
|        8.5|  9500|
|          9| 10000|
|        9.5| 11000|
|         10| 15000|
+-----------+------+

In [24]:
%%writefile p2.csv
{"name":"Min"}
{"name":"bob","age":20}
{"name":"Json","age":18}

Overwriting p2.csv

In [25]:
df = spark.read.csv("p2.csv")

In [26]:
df.show()

+--------------+
|           _c0|
+--------------+
|{"name":"Min"}|
| {"name":"bob"|
|{"name":"Json"|
+--------------+

In [27]:
df.printSchema()

root
 |-- _c0: string (nullable = true)