In [2]:
!pip install pyspark
!pip install findspark
from pyspark.sql import SparkSession
import findspark
import numpy as np

findspark.init()
spark = SparkSession.builder.appName('dataframe').getOrCreate()

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\ideal\appdata\roaming\python\python39\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\ideal\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.7)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark in c:\users\ideal\appdata\roaming\python\python39\site-packages (2.0.1)

In [3]:
myData = spark.sparkContext.parallelize([(1,2),(3,4),(5,6),(7,8),(9,10)])

myData.collect()

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [4]:
rdd = spark.sparkContext.parallelize([(1,2,3,'a b c'),(4,5,6,'d e f'),(7,8,9,'g h i')])

col = (['col1','col2','col3','col4'])

df = rdd.toDF(col)

df.show()
df.collect()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

[Row(col1=1, col2=2, col3=3, col4='a b c'),
 Row(col1=4, col2=5, col3=6, col4='d e f'),
 Row(col1=7, col2=8, col3=9, col4='g h i')]

In [11]:
Employee = spark.createDataFrame([
('1','Joe','70000','1'),
('2','Henry','80000','2'),
('3','Sam','60000','2'),
('4','Max','90000','1')],
['ID','Name','Salary','DepartmentID'])

Employee.show()
Employee.collect()

+---+-----+------+------------+
| ID| Name|Salary|DepartmentID|
+---+-----+------+------------+
|  1|  Joe| 70000|           1|
|  2|Henry| 80000|           2|
|  3|  Sam| 60000|           2|
|  4|  Max| 90000|           1|
+---+-----+------+------------+

[Row(ID='1', Name='Joe', Salary='70000', DepartmentID='1'),
 Row(ID='2', Name='Henry', Salary='80000', DepartmentID='2'),
 Row(ID='3', Name='Sam', Salary='60000', DepartmentID='2'),
 Row(ID='4', Name='Max', Salary='90000', DepartmentID='1')]

In [16]:
my_list = [['a',1,2],['b',2,3],['c',3,4]]
col_name = ['A','B','C']

spark.createDataFrame(my_list,col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

In [16]:
my_list1 = [['male',1, None],['female',2,3],['male',3,4]]

ds = spark.createDataFrame(my_list1, ['A','B','C'])

ds.head()
ds.show()

+------+---+----+
|     A|  B|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

In [12]:
ds.collect

[Row(A='male', B=1, C=None),
 Row(A='female', B=2, C=3),
 Row(A='male', B=3, C=4)]

In [20]:
d = {'A':[0,1,0],
     'B':[1,0,1],
     'C':[1,0,0]}

spark.createDataFrame(np.array(list(d.values())).tolist(),list(d.keys())).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  0|
|  1|  0|  1|
|  1|  0|  0|
+---+---+---+

In [21]:
ds.fillna(-99).show()

+------+---+---+
|     A|  B|  C|
+------+---+---+
|  male|  1|-99|
|female|  2|  3|
|  male|  3|  4|
+------+---+---+

In [22]:
ds.replace(['male','female'],['1','0']).show()

+---+---+----+
|  A|  B|   C|
+---+---+----+
|  1|  1|null|
|  0|  2|   3|
|  1|  3|   4|
+---+---+----+

In [33]:
ds.toDF('a','b','c').show()

+------+---+----+
|     a|  b|   c|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

In [35]:
ds.withColumnRenamed('A', 'Gender').show()

+------+---+----+
|Gender|  B|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

In [25]:
mapping = {'A': 'Gender', 'B': 'Seq'}
new_colname = [mapping.get(col,col) for col in ds.columns]
newdf = ds.toDF(*new_colname).show()

+------+---+----+
|Gender|Seq|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

In [41]:
drop_col = ['C']
ds.toDF(*new_colname).drop(*drop_col).show()

+------+---+
|Gender|Seq|
+------+---+
|  male|  1|
|female|  2|
|  male|  3|
+------+---+